{% load sb_thumb_tags sekizai_tags static sb_default_urls %}


{% block styles %}
    {% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_gallery/sb_gallery.css' %}" />{% endaddtoblock %}

    {% block extra %}{% endblock %}
{% endblock %}


{% block plugin_content %}
    <div class="sb_gallery{% if instance.count_in_row %} row{% endif %}" id="sb_gallery_{{ instance.id }}">
        {% for pic in instance.pics.all %}
            {% if pic.file_exists %}
                {% if not request.toolbar.edit_mode_active and instance.is_full_display %}<a class="fb"{% if pic.description %} title="{{ pic.description }}"{% endif %} rel="sb_gallery_{{ instance.id }}" href="{% thumb pic.pic 0 0 'contain' 'full' %}">{% endif %}

            {# todo: check on request.user_agent.is_bot. See: sb_picture.html #}
            {% if instance.count_in_row %}
                <div class="col w_{{ instance.count_in_row }}{% if instance.count_in_row_sm %} w_sm_{{ instance.count_in_row_sm }}{% endif %}">
                    {% retina pic instance.width instance.height pic.description|truncatewords:10 style=instance.style tag='img' th_class='th center-block' %}
                </div>
            {% else %}
                {% retina pic instance.width instance.height pic.description|truncatewords:10 wr_style=instance.style %}
            {% endif %}
            {% if not request.toolbar.edit_mode_active and instance.is_full_display %}</a>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block fancybox %}
    {% if not request.toolbar.edit_mode_active and instance.is_full_display %}
        {% load sb_default_urls %}
        {% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}

        {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}fancyBox/source/jquery.fancybox.css" />{% endaddtoblock %}
        {% addtoblock 'js' %}<script src="{{ STATIC_URL }}fancyBox/source/jquery.fancybox.pack.js"></script>{% endaddtoblock %}
        {% addtoblock 'js' %}<script src="{{ STATIC_URL }}fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>{% endaddtoblock %}

        {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_core/css/fancybox.css" />{% endaddtoblock %}

        {% addtoblock 'post_js_no_compress' %}
            {% block fancybox_settings %}
                <script>
                    $(function(){
                        $('#sb_gallery_{{ instance.id }} .fb').fancybox({
                            beforeShow: function() {
                                if (this.element.attr('title'))
                                    $('.fancybox-outer').append('<div class="fb_desc_wr"><div class="fb_desc">'+this.element.attr('title')+'</div></div>');

                                $('.fancybox-next').removeAttr('title');
                                $('.fancybox-prev').removeAttr('title');
                            },
                            padding : 0
                        });
                    });
                </script>
            {% endblock %}
        {% endaddtoblock %}
    {% endif %}
{% endblock %}
