.sb_gallery {
  text-align: center;
  padding: 10px;
  overflow: hidden; }
  .sb_gallery.row {
    padding-left: 0;
    padding-right: 0; }
  .sb_gallery .th_wr {
    display: inline-block;
    margin: 10px; }
  .sb_gallery .col {
    float: left;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; }
  .sb_gallery .col.w_0 {
    width: Infinity; }
  .sb_gallery .col.w_1 {
    width: 100%; }
  .sb_gallery .col.w_2 {
    width: 50%; }
  .sb_gallery .col.w_3 {
    width: 33.33333%; }
  .sb_gallery .col.w_4 {
    width: 25%; }
  .sb_gallery .col.w_5 {
    width: 20%; }
  .sb_gallery .col.w_6 {
    width: 16.66667%; }
  .sb_gallery .col.w_7 {
    width: 14.28571%; }
  .sb_gallery .col.w_8 {
    width: 12.5%; }
  .sb_gallery .col.w_9 {
    width: 11.11111%; }
  .sb_gallery .col.w_10 {
    width: 10%; }
  .sb_gallery .col.w_11 {
    width: 9.09091%; }
  .sb_gallery .col.w_12 {
    width: 8.33333%; }
  @media (max-width: 767px) {
    .sb_gallery .col.w_sm_0 {
      width: Infinity; }
    .sb_gallery .col.w_sm_1 {
      width: 100%; }
    .sb_gallery .col.w_sm_2 {
      width: 50%; }
    .sb_gallery .col.w_sm_3 {
      width: 33.33333%; }
    .sb_gallery .col.w_sm_4 {
      width: 25%; }
    .sb_gallery .col.w_sm_5 {
      width: 20%; }
    .sb_gallery .col.w_sm_6 {
      width: 16.66667%; }
    .sb_gallery .col.w_sm_7 {
      width: 14.28571%; }
    .sb_gallery .col.w_sm_8 {
      width: 12.5%; }
    .sb_gallery .col.w_sm_9 {
      width: 11.11111%; }
    .sb_gallery .col.w_sm_10 {
      width: 10%; }
    .sb_gallery .col.w_sm_11 {
      width: 9.09091%; }
    .sb_gallery .col.w_sm_12 {
      width: 8.33333%; } }
