.sb_gallery {
    text-align: center;padding: 10px;overflow: hidden;

    &.row {padding-left: 0;padding-right: 0;}
    .th_wr {display: inline-block;margin: 10px;}
    .col {float: left;margin-bottom: 20px;padding-left: 15px;padding-right: 15px;}

    @for $i from 0 through 12 {
        .col.w_#{$i} {width: (100% / $i);}
    }

    @media (max-width: 767px){
        //.col {float: none;width: 100%!important;}

        @for $i from 0 through 12 {
            .col.w_sm_#{$i} {width: (100% / $i);}
        }
    }
}